__pycache__
env/**
.env
logs/
whatsapp_profile/
*.ipynb
*.log
*.tsv
*.csv
responses.json
response_analysis_output.json
datapoints_*.json
ai_eval*.json
saved_evaluations/**
new_data.json
responses_T**.json
evaluation_summary**

test.py
improvement_eval.py
.deepeval
saved_evaluations
*.png
new_fairness_stereotype_recognition.py
*.pkl
.strategy_*.json
AI
*.sqlite3
chroma_langchain_db/
