__pycache__
env/**
.env
logs/
whatsapp_profile/

*.log
*.tsv
*.csv
responses.json
response_analysis_output.json
datapoints_*.json
ai_eval*.json
saved_evaluations/**
new_data.json
responses_T**.json
evaluation_summary**

kul
kul.pub
test.py
improvement_eval.py
.deepeval
saved_evaluations
test_4_*.py
*.png
new_fairness_stereotype_recognition.py
*.pkl
.strategy_*.json
__factory.py