__pycache__
env/**
.env
venv/
logs/
whatsapp_profile/
Front-end_AIEvaluationTool/node_modules

*.log
*.tsv
*.csv
responses.json
response_analysis_output.json
datapoints_*.json
ai_eval*.json
saved_evaluations/**
new_data.json
responses_T**.json
evaluation_summary**
app.db
TDMS.db
data/AIEvaluationData.db
AIEvaluationData.db
