selenium
fastapi
requests
uvicorn
pydantic_settings
webdriver_manager
psutil
argparse
typing 
logging
pathlib 
langdetect
requests
googletrans
transformers
torch
opik
sentence_transformers
uptime
langchain_community
nltk
evaluate
google-api-python-client
accelerate
language_tool_python
lexical_diversity
sentencepiece
sarvamai
openpyxl
randomname
gliner
python-iso639
ollama
deepeval
google-genai
rich
