langdetect
requests
googletrans
transformers
torch
opik
sentence_transformers
uptime
langchain_community
nltk
evaluate
google-api-python-client
accelerate
language_tool_python
lexical_diversity
sentencepiece
sarvamai